<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <thymeleaf th:replace="layout :: site-head"></thymeleaf>
    <title>User Posts</title>
</head>
<body>
    <thymeleaf th:replace="layout :: logged-in"></thymeleaf>
    <thymeleaf th:each="post : ${posts}">
        <article>
            <h2 th:text="${post.title}"></h2>
            <i>Created at : </i><span th:text="${post.date}"></span>
            <p th:text="${post.body}"></p>
        </article>
    </thymeleaf>
</body>
</html>